<nav>
	<div class="nav-wrapper">
		<a href="{%url 'inventory:home'%}" class="brand-logo center"><img class="nav-logo" src="/media/logo.png" alt="Logo"/></a>
		<a href="{%url 'inventory:home'%}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="hide-on-med-and-down">
			<li><a href="{%url 'inventory:item_list' %}">Inventory</a></li>
			<li><a href="{%url 'inventory:receive_list' %}">Receive List</a></li>
			<li><a href="{%url 'inventory:sale_list' %}">Sale List</a></li>
		</ul>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{% if request.user.is_authenticated %}
				<li><a href="{%url 'accounts:change-password' %}">Change Password</a></li>
				<li><a href="{%url 'accounts:logout' %}">Log-Out</a></li>
			{%else%}
				<li><a href="{%url 'accounts:login' %}">Log-In</a></li>
			{%endif%}
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><a href="{%url 'inventory:item_list' %}">Inventory</a></li>
	<li><a href="{%url 'inventory:receive_list' %}">Receive List</a></li>
	<li><a href="{%url 'inventory:sale_list' %}">Sale List</a></li>
	{% if request.user.is_authenticated %}
	<li><a href="{%url 'accounts:change-password' %}">Change Password</a></li>
	<li><a href="{%url 'accounts:logout' %}">Log-Out</a></li>
	{%else%}
	<li><a href="{%url 'accounts:login' %}">Log-In</a></li>
	{%endif%}
</ul>

<script type="text/javascript">
	$(document).ready(function(){
		$('.sidenav').sidenav();
	});
</script>